
body {
    margin: 0;
    overflow: hidden;
}
h1{
    color: #F4D06F;
}


#canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('stars.jpeg');
    background-size: cover; 
    background-position: center; 
}


#webgl-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}


.overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    justify-content: center;
    flex: 10px;
    color: white;
    z-index: 10; 
}


.animated-text {
    display: inline-block;
    animation: typing 3s steps(10, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid rgb(83, 228, 0);
    color: #F4D06F;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}
